a:link    {COLOR:#770000;}
a:visited {COLOR:#880000;}
a:hover   {COLOR:#CCCC00; text-decoration:underline;}
a:active  {COLOR: #CCCC00;}
a	{text-decoration:none;}
table	
{
	color:black; 
	font-size:200%; 
	counter-reset: rowNumber;
}

table tr::before {
  display: table-cell;
  counter-increment: rowNumber;
  content: counter(rowNumber) ".";
  text-align: left;
}

body	{margin:20px;
	 max-width:700px;
	 padding:20px;
	 background:#DCDCDC;
	 font-family:monospace, sans-serif;
	 font-size:120%;
	 color:#000000;
}

br {
   line-height: 50%;
}

ol        {margin:20px 50px 5px 20px;}


img {
  border-radius: 5%;
 }

img.rounded-corners {
  border-radius: 20px;
}

#rcorners1 {
  border-radius: 25px;
  border: 5px solid #6495ED;
  background: #B0E0E6;
  padding: 20px; 
  width: 90%;
}

#rcorners2 {
  border-radius: 25px;
  border: 5px solid #73AD21;
  background: #90EE90;
  padding: 20px; 
  width: 90%;  
}

#rcorners3 {
  border-radius: 25px;
  background: url(paper.gif);
  background-position: left top;
  background-repeat: repeat;
  padding: 20px; 
  width: 200px;
  height: 150px;  
}

.container {
  position: relative;
  text-align: center;
  color: black;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: -16px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
