a:link    {COLOR:#770000;}
a:visited {COLOR:#880000;}
a:hover   {COLOR:#CCCC00; text-decoration:underline;}
a:active  {COLOR: #CCCC00;}
a	{text-decoration:none;}
table	
{
	color:black; 
	font-size:100%; 
	counter-reset: rowNumber;
}

table tr::before {
  display: table-cell;
  counter-increment: rowNumber;
  content: counter(rowNumber) ".";
  text-align: left;
}

body	{margin:20px;
	 max-width:700px;
	 padding:20px;
	 background:white;
	 font-family:monospace, sans-serif;
	 font-size:120%;
	 color:#000000;
}
ol        {margin:20px 50px 5px 20px;}

.container {
  position: relative;
  text-align: center;
  color: black;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: -16px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
